@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 68px; 
}

.menu {
    width: 1110px;
    height: 100px;
    padding-top: 34px;
    padding-bottom: 34px;
    margin: auto;
    box-sizing: border-box;
}

.menu-list {
    margin: 0;
    padding-top: 3px;
    float: right;
    width: 470px;
    padding-left: 0;
}

.menu-list-item {
    float: left;
    list-style: none;
}

.menu-list-item a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #0f0101;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.786;
    text-decoration: none;
}

.menu-list-item a:hover {
    color: #1abc9c;
}

.menu-list-item a:focus {
    color: #1abc9c;
}

.menu-list-item:not(:last-child) {
    margin-right: 30px;
}

.logo::first-letter {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 900;
    color: #1abc9c;
    text-transform: uppercase;
    line-height: 1.067;
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-family: "Roboto";
    color: #555252;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.067;
    margin: 0px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box; 
}

h2 {
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.products-list::before {
    display: block;
    width: 162px;
    height: 8px;
    background-color: #1abc9c;
    margin: 0 auto;
    content: "";
}

.products-container {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}

.products-list {
    width: 1110px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.products-list-item {
    width: 255px;
    float: left;
}

.products-list-item:nth-child(-n+4) {
    padding-top: 92px;
}

.products-list-item:not(:nth-child(4n+4)) {
    margin-right: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.prod-wrapper{
    background-color: #e9f0fd;
    background-size: cover;
}

.news-section {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}

.news-container {
    width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.news {
    width: 352px;
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
    padding-top: 92px;
}

.news:not(:last-child) {
    margin-right: 27px;
}

.news-container::before {
    display: block;
    width: 162px;
    height: 8px;
    background-color: #1abc9c;
    margin: 0 auto;
    content: "";
}

.news-heading {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #555252;
    line-height: 1.444;
    margin: 0;
    margin-bottom: 8px;
}

.news img {
    margin-bottom: 8px;
}

.news-text  {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(85, 82, 82);
    line-height: 1.857;
    margin: 0;
    padding-top: 28px;
  }
 
  .row-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
}

  .row-wrapper::before {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    content: "";
}